* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clrText: yellow;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(87, 87, 87);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  scroll-behavior: smooth;
}

.container {
  background-color: rgba(0, 0, 0, 0.349);
  height: 100%;
}


header {
  height: 300px;
  width: 200px;
  display: block;
  color: var(--clrText);
  margin: auto;
  padding-top: 1px;
}

.logo h1 {
  border: 3px solid var(--clrText);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

nav li {
  list-style: none;
  font-weight: bold;
  width: 100%;
  border: 2px solid var(--clrText);
  padding: 10px 5px 10px 5px;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;

}

.logo h1:hover,
.logo h1:active {
  background-color: var(--clrText);
  color: black;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

nav li:hover,
nav li:active {
  background-color: var(--clrText);
  color: black;
  transition: 0.5s;
}

.main-text {
  color: var(--clrText);
  font-weight: bold;
  letter-spacing: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-text h1 {
  font-size: 4rem;
}

.main-text #p1,
.main-text #p2 {
  text-align: center;
  font-size: 1.2rem;
}

#p1 {
  margin-bottom: 10px;
}

#p2 {
  margin-top: 10px;
}
@media (min-width: 900px) {
  header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo h1 {
    margin-left: 50px;
    margin-top: 30px;
    padding: 12px;
  }
  nav ul {
    margin-right: 50px;
    margin-top: 30px;
  }
  nav li {
    text-decoration: none;
    display: inline;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid var(--clrText);
    margin-left: 13px;
    font-weight: 800;
  }

  .main-text {
    margin-top: 200px;
  }

  .main-text h1 {
    font-size: 6rem;
  }

  .main-text #p1 {
    font-size: 1.8rem;
  }

  .main-text #p2 {
    font-size: 1.8rem;
  }
}
